In [1]:
import pandas as pd
import numpy as np

In [3]:
# Downloading dataset from https://www.kaggle.com/c/titanic/data

df = pd.read_csv('gender_submission.csv')

In [4]:
# First 5 rows
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [5]:
# Last 5 rows
df.tail()

     PassengerId  Survived
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

In [6]:
df.isnull()

     PassengerId  Survived
0          False     False
1          False     False
2          False     False
3          False     False
4          False     False
..           ...       ...
413        False     False
414        False     False
415        False     False
416        False     False
417        False     False

[418 rows x 2 columns]

In [7]:
df.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [9]:
df.notnull()

     PassengerId  Survived
0           True      True
1           True      True
2           True      True
3           True      True
4           True      True
..           ...       ...
413         True      True
414         True      True
415         True      True
416         True      True
417         True      True

[418 rows x 2 columns]

In [10]:
df.notnull().sum()

PassengerId    418
Survived       418
dtype: int64

In [11]:
df.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [14]:
# Column Names
df.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [16]:
# Data Types
df.dtypes

PassengerId    int64
Survived       int64
dtype: object

In [19]:
# data type count
df.dtypes.value_counts()

int64    2
dtype: int64

In [20]:
# Shape of data (row, column)
df.shape

(418, 2)